@import url('https://fonts.googleapis.com/css2?family=Mate:ital@0;1&display=swap');

body {
  font-family: 'Mate', serif;
  height: 100vh;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}